body::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1345;
}

body::-webkit-scrollbar-thumb {
  background-color: #00C0FF;
  border-radius: 6px;
  border: 1px solid #1e1345;
}
body {
  font-size: 15px;
  overflow-x: hidden;
  line-height: 20px;
  letter-spacing: 0px;
  width: 100%; 
  justify-content: center;
  height: 100vh;
  word-wrap: break-word;
  font-weight: 300;
  background:  linear-gradient(
      rgba(30, 17, 72, 0.99), 
      rgba(30, 17, 72, 0.99)
    ), url("../icon/back.gif") ;

  background-size: 100%;
  background-attachment: fixed;
}
.data{
  color: #C6C1C1;
}
.maindiv *{
      box-sizing: border-box; 
}
.container{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  padding:0px 40px;
  position:relative;
  clear:both;
}

h1, h2, h3, h4, h5, h6{
  font-weight:600;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.maindiv {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}
.header{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  transition: all .3s ease;
  background-color: #1e1345;
}
.header .container{
   width: 80%;
   margin: 0 auto;
  padding: 20px 0px;
}
.header.animate{
  background-color: #1e1345;
  padding: 30px 0px;
}
.header .inner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img{
  max-width: 200px;
  height: 60px;
  transition: all .3s ease;
  margin-top: -10px;
}
.header.animate .logo img{
  max-width: 160px;
}
.header .details{
  display: flex;
  align-items: center;
}
.header .menu ul{
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header .menu ul li{
  margin: 0px 40px 0px 0px;
}
.header .menu ul li:last-child{
  margin-right: 0px;
}
.header .menu ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.header .menu ul li a:hover{
  color:#00c0ff;
}
.ico{
  width: 19px;
  height: 19px;
}
.header .menu ul li.current a{
  color: #00c0ff;
}
.header .social{
  position: relative;
  margin-left: 40px;
}
.header .social:before{
  position: absolute;
  content: "|";
  left: -20px;
  color: #ffffff  ;
}
.header .social ul{
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header .social ul li{
  margin: 0px 12px 0px 0px;
}
.header .social ul li:last-child{
  margin-right: 0px;
}
.header .social ul li a{
  color: #fff;
  transition: all .3s ease;
}
.header .social ul li a:hover{
  color: #00c0ff;
}

.section{
  width: 90%;
  height: auto;
  align-items: center;
  margin-left: 5%;
}
.home{
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
}
.home .content{
  height: 100vh;
  display: flex;
  align-items: center;
}
.home .left{
  width:50%;
  margin-left: 85px;
}
.home .name{
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 25px;
}
.home .name span{
  color: #00c0ff;
}
.home .job{
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;;
  margin-bottom: 50px;
}
.button{
  width: 100%;
  height: auto;
  margin-left: 20%;
}
.button a{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: inline-block;
  background-color:#00c0ff;
  padding: 18px 43px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.button a span{
  position: relative;
  z-index: 2;
  transition: all .3s ease;
}
.button a:before{
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  background-color: #fff;
  transform: translateY(100%);          
  transition: all .3s ease;
}
.button a:hover:before{
  transform: translateY(0);
}
.button a:hover span{
  color: #000;
}
.home .right{
  width:50%;
  padding-left: 80px;
}
.home .right img{
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
  background-color: #00c0ff;
  margin-top: 15vh;
}

.skills, .services{
  width: 100%;
  height: auto;
  float: left;
}
.skills , .about, .services {
  margin-bottom: 110px;
}
.skills .list, .services .list {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}
.skills ul, .services ul{
  margin: 0px 0px 0px -1px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.skills .list ul li, .services .list ul li{
  margin: 0px -20px 30px 0px;
  padding-left: 35px;
  width: 33.3333%;
}
.skills ul li .list_inner , .services ul li .list_inner{
  width: 90%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  background-color: #3a2b71;
  border-radius: 10px;
  padding: 60px;
}
.skills ul li img, .services ul li .img{
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
  color: #00c0ff;
}
.skills ul li .title, .services ul li .title {

  font-size: 20px;
  margin-bottom: 20px;
}
.about, .contact{
  width: 100%;
  height: auto;
  margin-top: -130px;
  text-align: center;
}
 .section_header {
  width: 50%;
  justify-content: center;
  margin-left: 20%;
  margin-top: 100px;

}
.about span, .languages span, .contact span , .testimonials span, .services span, .resume span, .portfolio span {
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  color: #00c0ff;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}
.about h3, .contact h3, .languages h3, .testimonials h3, .services h3, .portfolio h3 {
  font-size: 35px;
}
.about .wrapper{
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
}
.about .left{
  width: 30%;
  position: relative;
 justify-content: left;
  margin-left: 9%;
}
.about .mainimage{
  float: left;
  position: relative;
}
.about .mainimage img{
  max-width: 300px;
  max-height: 420px;
  border-radius: 10px;
}
.about .mainimage .innerimage {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 100%;
  margin-top: -130px;
  margin-right: -150px;

}
.about .experience{
  position: absolute;
  top: 100%;
  left: 178px;
  margin-top: -149px;
}
.about .experience .inner{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.about .experience .inner:before{
  width: 6px;
  height: 50px;
  position: absolute;
  content: "";
  background-color: #00c0ff;
  left: 30px;
}
.about .experience .inner h3{
  font-size: 52px;
}
.about .experience .inner span{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 22px;
  padding-left: 6px;
}
.about .right{
  width: 50%;
  justify-content: left;
  position: relative;
  top: 0px;
}
.about .right .title{
  font-size: 30px;
  margin-bottom: 35px;
}
.about .right .list{
  width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #625a7d;
  margin-top: 32px;
  margin-bottom: 40px;
}
.about .right .list > ul{
    margin: -2px -10px -2px -2px;
    list-style-type: none;
    padding-top: 2px;
    float: left;
    padding-left: 2px;
    min-width: calc(100% + 12px);
} 
.about .right .list > ul > li{
    margin: 0px;
    float: left;
    width: 50%;
    border-left: 2px solid #625a7d;
    position: relative;
    margin-left: -2px;
    overflow: hidden;
} 
.about .right .item{
  margin: 0px;
  list-style-type: none;
    float: left;
    text-align: left;
    padding: 15px 25px;
}
.about .right .item li{
  margin: 0px 10px 0px 10px;
}
.about .right .item li:last-child{
  margin-bottom: 0px;
}
.about .right .item li span{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
.about .right .item li p{
  font-size: 16px;
  color: #C6C1C1;
}
.about .right .item li p a span{
  color: #C6C1C1;
}
.about .button a{
  padding: 13px 43px;
  float: left;
}
.about .button a span{
  color: #ffffff;
}
.about .button a:hover span{
  color: #000;
}
.button a span{
  color: #ffffff;
}
.button a:hover span{
  color: #000;
}
.numbering{
  width: 100%;
  height: auto;
  float: left;
}
.numbering .number_list{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.numbering .number_list ul{
  margin: 0px 0px 0px -25px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.numbering .number_list ul li{
  margin: 0px 0px 50px 0px;
  padding-left: 30px;
  width: 25%;
}
.numbering .number_list ul li .list_inner{
  width: 100%;
  height: 60%;
  position: relative;
  background-color: #432d92;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.numbering .number_list ul li h3{
  font-size: 60px;
  color: #00c0ff;
}
.numbering .number_list ul li .title{
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 100px;
  display: inline-block;
  padding-left: 30px;
}
.languages .section_header, .contact .section_header, .testimonials .section_header, .services .section_header, .resume .section_header, .portfolio .section_header {
  margin-left: 25%;
  width: 50%;
  align-content: center;
  text-align: center;
}

.languages{
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 53px;
}
.languages .list{
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.progress{
  width: 100%;
  height: auto;
  float: left;
  flex-wrap: wrap;
  column-count: 2;
  padding-top: 30px;
  overflow: hidden;
}
.progress_inner{
  width:100%;
  margin-bottom:37px;
  margin-left: 10px;
}
.progress_inner:last-child{
  margin-bottom: 0px;
}
.progress_inner > span{
  margin:0px 0px 20px 0px;
  display:block;
  text-align:left;
  position: relative;
}
.progress_inner span.label{
  opacity: 10;
  transform: translateY(10px);
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.progress_inner span.number{
  float: right;
  right: 100%;
  margin-right: 60px;
  margin-top: -13px;
  color: #00c0ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.progress_inner .background{
  background:#ffffff;
  width:90%;
  min-width:90%;
  position:relative;
  height:14px;
  border-radius: 50px;
}
.progress_inner .background .bar_in{
  height:14px;
  overflow:hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  top: 0px;
  background-color: #00c0ff;
}
.progress_inner .background .bar{
  width:80%;
  height:100%;
}

.contact .contact_inner{
  width: 100%;
  display: flex;
  margin-bottom: 132px;
  position: relative;
}
.contact .inner {
  column-count: 2;
  width: 100%;
}
.contact .inner ul{
  float: left;
  list-style-type: none;

}
.contact .inner ul li{
  margin: 0px 0px 15px 0px;
}
.contact .inner ul li:last-child{
  margin-bottom: 0px;
}
.contact .inner .list_inner{
  display: flex;
  align-items: center;
}
.contact .inner .icon{
  width: 88px;
  height: 88px;
  border-radius: 100%;
  position: relative;
  background-color: #00c0ff;
}
.contact .inner .icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%,-50%);
  font-size: 24px;
}
.contact .inner .short{
  padding-left: 20px;
  text-align: left;
}
.contact .inner .short h3{
  font-size: 30px;
  margin-bottom: 5px;

}
.contact .inner .short span{
  font-size: 19px;
  color: #b4afc6;
}
.contact .inner .short a{
  text-decoration: none;
  color: #b4afc6;
}
.contact .inner .short a:hover{
  color: #00c0ff;
}
.contact .fields{
  width: 100%;
  height: auto;
  float: left;
}
.contact .input_list{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.contact .input_list {
  margin: 0px 0px 0px 0px;
  list-style-type: none;
}
.contact .input_list input {
  margin: 0px 11px 12px 0px;
  width: 48%;
  float: left;
}
.contact input{
  height: 58px;
  padding: 0px 30px;
  padding-left: 12px;
  background-color: transparent;
  border:1px solid rgba(255,255,255,.3);
  border-radius: 8px;
  color: #b4afc6;
  font-size: 18px;
}
.contact input:focus{
  background-color: transparent;
  outline: none;
  border-color: rgba(255,255,255,.5);
}

.contact .message_area{
  width: 100%;
  float: left;
  margin-bottom: 4px;
}
.contact .message_area textarea{
  width: 100%;
  height: 200px;
  padding: 16px 30px 30px 30px !important;
  background-color: transparent;
  border:1px solid rgba(255,255,255,.3);
  border-radius: 8px;
  color: #b4afc6;
  font-size: 18px;
}
.contact .message_area textarea:focus{
  background-color: transparent;
  outline: none;
  border-color: rgba(255,255,255,.5);
}
.contact .empty_notice{
  color: #F52225;
  margin-bottom: 7px;
  display: none;
  text-align: left;
  font-weight: 500;
}
.contact .contact_error{
  color: #F52225;
  text-align: left;
  font-weight: 500;
}
.contact .returnmessage{
  color:#3A00FF;
  margin-bottom: 7px;
  text-align: left;
  font-weight: 500;
}
.copyright{
  width: 100%;
  height: auto;
  float: left;
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
  color: #D2D2D2;
}

.companies .comlist{
  width: 100%;
  margin-bottom: 100px;
  height: auto;
  float: left;
  background-color: #432d92;
  border-radius: 12px;
  padding: 70px 0px;
}
.companies .comlist ul{
  margin: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.companies .comlist ul li{
  margin: 0px;
  list-style-type: none;
  opacity: .5;
  justify-content: center;
  text-align: center;
}
.companies .comlist ul li:hover{
  opacity: 1;
}
.comlist ul li img{
  max-width: 95%;
  max-height: 180px;
} 
.companies .owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}

.testimonials .list_wrapper{
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin-top: 30px;
}
.testimonials .in{
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
}
.testimonials .total{
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}
.testimonials ul{
  margin: 0px;
  list-style-type: none;
}
.testimonials ul li{
  margin: 0px;
}
.testimonials .icon{
  margin-bottom: 15px;
}
.testimonials .icon img{
  width: 80px;
  height: 80px;
  color: #00c0ff;
}
.testimonials .text{
  margin-bottom: 60px;
}
.testimonials .text p{
  font-size: 25px;
  font-style: italic;
  line-height: 1.6;
  color: #fff;
}
.testimonials .short{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .short .image{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.testimonials .short .image img{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
.testimonials .detail{
  text-align: left;
  padding-left: 25px;
}
.testimonials .detail h3{
  font-size: 24px;
}
.testimonials .detail span{
  font-size: 16px;
}
.testimonials .owl-theme .owl-dots{
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}
.testimonials .owl-theme .owl-dots .owl-dot span{
  width: 15px;
  height: 15px;
  background-color: #00c0ff;
  position: relative;
  border-radius: 50%;
  margin: 0px 12px;
}
.testimonials .owl-theme .owl-dots .owl-dot span:before{
  position: absolute;
  content: "";
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 100%;
  border: 2px solid #fff;
  z-index: -1;
}
.testimonials .owl-theme .owl-dots .owl-dot.active span:before{
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}
.testimonials .owl-theme .owl-nav.disabled+.owl-dots{
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  margin-top: 64px;
}
.resume .wrapper{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 65px;
}
.resume .left{
  width: 50%;
  padding-right: 50px;
}
.resume .right{
  width: 50%;
  padding-left: 50px;
}
.resume .title{
  width: 100%;
  float: left;
  margin-bottom: 60px;
}
.resume .title h3{
  margin-left: 70px;
  font-size: 36px;
}
.resume_list{
  width: 100%;
  float: left;
}
.resume_list ul{
  margin: 0px;
  list-style-type: none;
  position: relative;
  float: left;
}
.resume_list ul:before{
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0px;
  left: 75px;
  width: 1px;
  background-color: #5d5e82;
}
.resume_list ul li{
  margin: 0px 0px 50px 0px;
  width: 100%;
  float: left;
}
.resume_list ul li:last-child{
  margin-bottom: 0px;
}
.resume_list ul li .list_inner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  padding-left: 107px;
}
.resume_list ul li .icon{
  width: 72px;
  height: 72px;
  display: inline-block;
  border-radius: 100%;
  background-color: #00c0ff;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.resume_list ul li .icon img{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
.resume_list .resume_title{
  width: 100%;
  float: left;
  margin-bottom: 18px;
}
.resume_list .resume_title h3{
  font-size: 24px;
  margin-bottom: 13px;
}
.resume_list .resume_title h3 span{
  font-size: 16px;
  color: #b4afc6;
  font-weight: 400;
  display: inline-block;
  padding-left: 8px;
}
.resume_list .company{
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
}
.portfolio .portfolio_filter{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 55px;
}
.portfolio .portfolio_filter ul{
  margin: 0px;
}
.portfolio .portfolio_filter ul li{
  margin: 0px 35px 0px 0px;
  display: inline-block;
}
.portfolio .portfolio_filter ul li:last-child{
  margin-right: 0px;
}
.portfolio .portfolio_filter ul li a{
  color: #fff;
  font-family: 'Poppins' sans-serif;
  font-weight: 500;
  transition: all .3s ease;
  text-decoration: none;
}
.portfolio .portfolio_filter ul li a.current{
  color: #00c0ff;
}
.portfolio .portfolio_filter ul li a:hover{
  color: #00c0ff;
}
.portfolio .portfolio_list{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.portfolio .portfolio_list ul{
  margin: 0px 0px 0px -13px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio_list ul li{
  margin: 0px 0px 13px 0px;
  padding-left: 13px;
  width: 33.3333%;
}
.portfolio .portfolio_list ul li .list_inner{
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio_list ul li .image{
  position: relative;
}

.portfolio .portfolio_list ul li .image img{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.portfolio .portfolio_list ul li .details{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #1e1345;
  padding: 20px;
  border-radius: 12px;
  transform: translateY(125%);
  transition: all .3s ease;
}
.portfolio .portfolio_list ul li .details h3{
  font-size: 20px;
  margin-bottom: 2px;
}
.portfolio .portfolio_list ul li .details span{
  font-size: 16px;
}
.portfolio .portfolio_list ul li .list_inner:hover .details{
  transform: translateY(0);
}